* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

}



header {
    flex-grow: .25;
    background-color: #2a79a6;
    color: white;
    /* padding: 10px 0 0 0; */
    /* vertical-align: center; */
    align-items: center;
    justify-content: center;

}

h1 {
    text-align: center;
}

main {
    flex-grow: 5;
    background-color: #f7fcff;
    color: #24305e;
    padding: 15px;
}

footer {
    flex-grow: 0.25;
    background-color: #343b3f;
    color: white;
    padding: 10px 0 0 0;
    text-align: center;
}

.body-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    /* padding: 15px; */
}

.settings-div {
    /* text-align: center; */
    padding: 25px;
}

tr, td {
    padding: 10px;
    /* display: flex;    */
    /* flex-wrap: wrap; */
}
table{
    border: 1px solid gray;
    margin-left:auto;
    margin-right:auto;
}

.map {
    height: 500px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    padding: 100px 100px;
}
/* input[type=date],input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    /* background-color: #3CBC8D;
  color: white; */
  } */